.JEO {
  display: flex;
  flex-direction: column;
}

.title {
  align-self: center;
  display: block;
  min-width:90vw;
  max-height:20vh;
  width: auto;
  height: auto;
}

.questions {
  font-size: 30px;
  align-self: center;
}

.data {
  font-size: 25px;
  display: flex;
  justify-content: space-evenly;
}