.JEO {
  display: flex;
  flex-direction: column;
}

.title {
  font-size: 40px;
  align-self: center;
}

.questions {
  font-size: 30px;
  align-self: center;
}

.data {
  font-size: 25px;
  display: flex;
  justify-content: space-evenly;
}