.question-mark {
  margin:10px;
  background-color: #217ca3;
  height: 100px;
  width: 15vw;
  min-width: 100px;
  max-width: 250px;
  color:white;
  font-size: 50px;
}

.answer-spot, .answer-spot-bad, .answer-spot-good {
  display: flex;
  border: 1px solid white;
  margin: 5px;
  min-height: 100px;
  text-align: center;
  overflow-wrap: break-word;
}

.answer-spot:hover {
  background-color: rgb(228, 198, 156);
}

.answer-spot-good:hover {
  background-color: rgb(206, 240, 161);
}

.answer-spot-bad:hover {
  background-color: rgb(235, 156, 142);
}

.answer-box {
  color:white;
  align-self: baseline;
}

.yes {
  background-color: #3e94b8;
}

.no, .yes {
  flex: 1;
  margin:10px;
  min-height: 100px;
  width: 15vw;
  min-width: 100px;
  max-width: 250px;
  font-size: 25px;
}

.no {
  background-color: #1a4355;
  color:grey;
}