.data-page {
  display: flex;
  flex-direction: column;
  color:white;
}



.data-text, .data-pie {
  margin-top: 20px;
}

.data-top {
  display: flex;
  justify-content: space-evenly;
}

.data-pie{
  justify-content: right;
  margin-left: 15vw;
  width: 40vw;
}

.data-scatter {
  margin: 30px;
  width: 90%;
  align-self: center;
}
