.single-question {
  display: flex;
  flex: 1;
  margin:10px;
  background-color: #217ca3;
  height: 100px;
  width: 15vw;
  min-width: 100px;
  max-width: 250px;
  text-align: center;
  overflow-wrap: break-word;
  color:white;
  font-size: 50px;
  justify-content: space-evenly;
}

.answer-spot {
  display: flex;
  justify-content: center;
  flex-direction: column;
  border: 1px solid white;
  margin: 5px;
}

.answer-spot:hover {
  background-color: rgb(228, 198, 156);
}

.answer-box {
  color:white;
}

.yes {
  background-color: #3e94b8;
}

.no, .yes {
  flex: 1;
  margin:10px;
  height: 100px;
  width: 15vw;
  min-width: 100px;
  max-width: 250px;
  text-align: center;
  overflow-wrap: break-word;
  font-size: 25px;
}

.no {
  background-color: #1a4355;
  color:grey;
}