path.domain { stroke: white; }
.tick text { stroke: white; }
.c3 .c3-axis-x path, .c3 .c3-axis-x line {
  stroke: white;
}
.c3 .c3-axis-y path, .c3 .c3-axis-y line {
  stroke: white;
}
.c3-tooltip td {
  color: #222;
}

.c3-circle {
  opacity: 1 !important;
}